<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your logistics partner in the Greater Toronto Area</h1>
            <hr>
            <p>Specializing in warehouse storage, pick-and-pack, and third-party logistics (3PL) solutions for eCommerce, we offer a personalized approach to managing inventory and fulfilling orders. We take the complexity out of logistics so you can focus on growing your business.</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Get in touch</a>
        </div>
    </div>
</header>
