<section id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">From Point A to Point B</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa-solid fa-warehouse fa-4x wow bounceIn text-primary"></i>
                    <h3>Warehouse Storage</h3>
                    <p class="text-muted">Bonded warehouse storage to protect your pallets.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa-solid fa-arrow-right-arrow-left fa-4x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Cross Docking</h3>
                    <p class="text-muted">In one bay and out the other.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa-solid fa-boxes-stacked fa-4x wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Pick-and-Pack</h3>
                    <p class="text-muted">Deliver product to your customers with expert attention to detail.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa-solid fa-truck-fast fa-4x wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>3rd Party Logistics</h3>
                    <p class="text-muted">Leave your distribution to the experts.</p>
                </div>
            </div>
        </div>
    </div>
</section>
